*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.container{
  width: 1000px;
  margin: auto;
  padding-top: 20px;
}

header{
  background-image: url(../img/header.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  border: 15px solid white;
  position: relative;
}

header .fa-mountain{
  color: white;
  top: -22px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  font-size: 50px;
}

.header-text{
  color: white;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

.header-text h1{
  font-size: 80px;
  margin-bottom: 30px;
  border: 5px solid white;
  display: inline-block;
  padding: 0 15px;
}

nav{
  height: 40px;
  background-color: #666666;
}

.menu{
  text-align: center;
}

.menu li{
  display: inline-block;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  height: 40px;
  padding: 13px 10px 0 10px;
}

.menu li:hover{
  background-color: #302B27;
}

main{
  margin: 20px 0;
}

main::after{
  content: "";
  display: block;
  clear: both;
}

main h3{
  font-size: 25px;
  text-shadow: 2px 2px lightgrey;
  color: #302B27;
  padding: 20px;
}

main p{
  padding: 20px;
  text-align: justify;
  line-height: 1.6;
}

.left{
  background-color: white;
  height: 300px;
  width: 23%;
  margin-right: 20px;
  float: left;
  border-radius: 2%;
}

.left .fa-rss-square{
  font-size: 30px;
  color: orange;
  padding: 5px;
}

.organic-menu{
  list-style: none;
}

.organic-menu li{
  color: green;
  padding-left: 15px;
  line-height: 1.6;
}

.centre{
  background-color: white;
  height: 500px;
  width: 50%;
  float: left;
  border-radius: 2%;
}

#centre-h3{
  text-transform: uppercase;
}
.centre-text{
  text-align: justify;
  line-height: 1.6;
}

.right{
  background-color: white;
  height: 350px;
  width: 23%;
  margin-left: 20px;
  float: left;
  border-radius: 2%;
}

#margin-top{
  margin-top: 20px;
}

footer{
  background-color: white;
  height: 150px;
  clear: both;
  border-radius: 2%;
  margin-bottom: 20px;
}

.footer-text{
  color: lightgrey;
  text-align: center;
  padding-top: 5px;
  border-bottom: 1px solid lightgrey;
}

.footer-logos{
  font-size: 40px;
  display: inline-block;
  float: left;
  text-align: center;
  width: 33%;
  padding-top: 30px;
  color: lightgrey;
}
